body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* background-color: rgba(94, 204, 247, 0.356); */
  /* border: 1px dotted rgb(0, 0, 0); */
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding-top: 15px;
}

header div div {
  align-items: flex-end;
}

main {
  height: 100%;
}

footer {

}


.first-row {
  height: 100vh;
}

.main-div {
  color: antiquewhite;
}
.main-container {
  margin-top: 15px;
  height: 95%;
}

form  {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

form div,
form .btn {
  margin: 8px 0;
}

form .btn {
  align-self: center;
  min-width:min-content;
}
a .btn {
  margin: 15px;
}
li {
  list-style: none;
}

img.about {
  padding: 20px;
  width: 175px;
}

.green {
  background-color: rgba(17, 221, 95, 0.932);
}
.crimson {
  background-color: rgba(110, 25, 60, 0.932);
}

.aqua {
  background-color: rgba(0, 255, 255, 0.281);

}

img.project {
  padding: 0px;
  margin: 20px;
  
}

/* TABLETS - TABLETS - TABLETS */

@media (max-width: 1000px) {

  header {
    font-size: 1rem;
  }

  .nav-tabs .nav-link {
    padding: 0.5rem 1rem;
  }
header div div {
  flex-direction: column;
  align-items: flex-start;
}

.nav-div {
  align-self: flex-end;
}

form  {
  width: 60vw;
}

}




/* PHONES - PHONES - PHONES */

@media (max-width: 480px) {

  header {
    font-size: .95rem;
  }

  .nav-tabs .nav-link {
    padding: 0.3rem 0.5rem;
  }
  header div div {
    flex-direction: column;
    align-items: center!important;
  }
  .nav-div {
    align-self: center;
  }
  form  {
    width: 80vw;
  }
  }
  
  @media (max-width: 410px) {
    header {
      font-size: .85rem;
    }
  
    .nav-tabs .nav-link {
      padding: 0.1rem 0.5rem;
    }
  }
    @media (max-width: 380px) {
    header {
      font-size: .75rem;
    }
  
    .nav-tabs .nav-link {
      padding: 0.1rem 0.5rem;
    }
  }