@font-face {
  font-family: 'cache';
  src:  url('../public/css/Cache-Regular.ttf') format('truetype');
} 

@font-face {
  font-family: 'avenir';
  src: url('../public/css/AvenirLTStd-Roman.otf');
}

body {
  margin: 0;
  font-family: avenir, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



* {
  /* background-color: rgba(94, 204, 247, 0.356); */
  /* border: 1px dotted rgb(0, 0, 0); */
  
}

header {
  padding-top: 15px;
}

header div div {
  align-items: flex-end;
}

main {
  height: 100%;
}

.first-row {
  height: 100vh;
}

.main-div {
  color: antiquewhite;
}
.main-container {
  margin-top: 15px;
  height: 95%;
}

form  {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none;
}

.btn,
footer,
.cache {
  font-family: cache;
  font-size: 2rem;
  text-transform: uppercase;
}

form div,
form .btn {
  margin: 8px 0;
}

form .btn {
  align-self: center;
  min-width:min-content;
}
a .btn {
  margin: 15px;
}
li {
  list-style: none;
}

img.about {
  padding: 20px;
  width: 275px;
}

.green {
  background-color: rgba(17, 221, 95, 0.932);
}
.crimson {
  background-color: rgba(110, 25, 60, 0.932);
}

.aqua {
  background-color: rgba(0, 255, 255, 0.281);

}

img.project {
  padding: 0px;
  margin: 20px;
  
}

.modalBackdrop {
	background: rgba(138, 138, 138, 0.836);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
.modalContainer {
	background: rgba(255, 255, 255, 0.808);
	border-radius: 5px;
	max-width: 95%;
	margin: 50px auto;
	padding: 15px;
	width: 1100px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}
/* TABLETS - TABLETS - TABLETS */

@media (max-width: 1000px) {

  header {
    font-size: 1rem;
  }

  .nav-tabs .nav-link {
    padding: 0.5rem 1rem;
  }
header div div {
  flex-direction: column;
  align-items: flex-start;
}

.nav-div {
  align-self: flex-end;
}

form  {
  width: 60vw;
}

}




/* PHONES - PHONES - PHONES */

@media (max-width: 480px) {

  header {
    font-size: .95rem;
  }

  .nav-tabs .nav-link {
    padding: 0.3rem 0.5rem;
  }
  header div div {
    flex-direction: column;
    align-items: center!important;
  }
  .nav-div {
    align-self: center;
  }
  form  {
    width: 80vw;
  }
  }
  
  @media (max-width: 425px) {
    .row{
      --bs-gutter-x: 0.5rem;
    }
    header {
      font-size: 1rem;
    }
  
    .nav-tabs .nav-link {
      padding: 0.1rem 0.5rem;
    }
  }


  @media (max-width: 395px) {
    .row{
      --bs-gutter-x: 0.5rem;
    }

    footer{
      font-size: 1.3rem;
    }

    h3,
    h4 {
      font-size: 1.3rem;
    }
    header,
    p
     {
      font-size: .95rem;
    }
  
    .nav-tabs .nav-link {
      padding: 0.1rem 0.3rem;
    }
  }

  @media (max-width: 300px) {
    .row{
      --bs-gutter-x: 0.5rem;
    }
    h3,
    h4,
    footer {
      font-size: 1rem;
    }
    header,
    p {
      font-size: .55rem;
    }
  
    .nav-tabs .nav-link {
      padding: 0.1rem 0.2rem;
    }
  }
