@font-face {
  font-family: 'cache';
  src: url('../public/css/Cache-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'avenir';
  src: url('../public/css/AvenirLTStd-Roman.otf');
}

body {
  margin: 0;
  font-family: avenir, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0px 10px 10px 10px;
}

/* * {
  border: 1px dotted hotpink;
}

.aqua {
  background-color: rgba(0, 255, 255, 0.138);
}

.brown {
  background-color: rgba(165, 42, 42, 0.419);
}

.red {
  background-color: rgba(255, 0, 0, 0.3);
} */

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: rgb(131, 131, 131);
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link{
  color: #bcc1c7;
}
.nav-link:hover {
  color: #0d6efd;
}

/* .container {
  background-color: rgba(94, 204, 247, 0.116);
  border: 1px dotted rgb(0, 0, 0);
  
} */

.header-container {
  z-index: 5;
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
}

.header-content {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.nav-tabs {
  border-bottom: none;
}

.portfolio-item {
  padding: 1vh;
  margin-bottom: 25px;
}

.highlight-section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;

}

.highlight-div {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}

.paint-stroke-shadow {
  text-align: center;
  min-width: 240px;
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-shadow: 
  -1px -1px 0px rgba(0, 0, 0, 0.700), 
  1px -1px 0px rgba(0, 0, 0, 0.700), 
  -1px 1px 0px rgba(0, 0, 0, 0.700), 
  1px 1px 0px rgba(0, 0, 0, 0.700),
  5px 5px 7px rgba(0, 0, 0, 0.75)
  ;
}

img.highlight-stroke-div {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 220px;
  height: 60px;
  z-index: -1;
  /* mix-blend-mode: color-burn; */
  opacity: 1;
}

.spacing-div {
  width: 30px;
}

.badge-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4px 0px 12px;
}

.set-set_item-div {
  margin: 1px;
}




.bg-stroke-div {
  position: relative;
  height: 0px;
  width: 0px;
  background-color: rgba(128, 255, 0, 0.673);
}



.bg-stroke-div img {
  position: absolute;
  left: -210px;
  top: -40px;
  width: 240px;
  height: 120px;
  z-index: -1;
}

img.about-bg-stroke {
  position: absolute;
  left: -30px;
  top: -45px;
  width: 240px;
  height: 120px;
  z-index: -1;
}

img.contact-bg-stroke {
  position: absolute;
  left: -110px;
  top: -60px;
  width: 240px;
  height: 120px;
  z-index: -1;
}
.upper{
  mix-blend-mode: lighten;
}

.lower{
  mix-blend-mode: darken;
}

.portfolio-item-header {
  width: 100%;
}

header {
  padding-top: 15px;
}

header div div {
  align-items: flex-end;
}

main {
  height: 100%;
}

.first-row {
  min-height: 80vh;
}

.main-div {
  color: antiquewhite;
}

.main-container {
  margin-top: 15px;
  margin-bottom: 55px;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0%);
}

form {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none;
}

.btn,
footer,
.cache {
  font-family: cache;
  font-size: 2rem;
  text-transform: uppercase;
}

form div,
form .btn {
  margin: 8px 0;
}

form .btn {
  align-self: center;
  min-width: min-content;
}

.btn {
  margin: 15px;
  font-size: 1.5rem;
letter-spacing: 1px;
}

li {
  list-style: none;
}

img.about {
  padding: 20px;
  width: 100%;
  max-width: 275px;
  min-width: 230px;
}

img.project {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

.modalBackdrop {
  background: rgba(138, 138, 138, 0.836);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: rgba(255, 255, 255, 0.808);
  border-radius: 5px;
  max-width: 95%;
  margin: 50px auto;
  padding: 15px;
  width: 1100px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.click-to-enlarge {
  margin-bottom: 10px;
  color: blue;
  font-size: 10px;
  opacity: 0.0;
  position: relative;
  top: -45px;
  height: auto;
  width: 95px;
  text-align: center;
  background-color: white;
  border: 1px solid blue;
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
  transition: opacity 0.7s, transform 0.3s, color 1.6s;
}

.click-to-enlarge:hover {
  opacity: 0.5;

}

.img-thumbnail:hover {
  cursor: zoom-in;
}

.img-thumbnail:hover+.click-to-enlarge {
  opacity: 1;
  transform: translate(0%, 46px);

}

.img-thumbnail:hover>.project-description {
  opacity: 0.3;
}


.img-large {
  max-height: 50vh;
  max-width: 90vw;
}

.set-div {
  margin: auto;
  min-width: 60%;
}

.custom-badge {
  padding: 6px 8px 3px;
  color: white;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  text-transform: uppercase;
  font-size: 0.7rem;

}




/* MOBILE & TABLET */

@media (max-width: 1025px) and (min-height: 700px) {

  header {
    font-size: 1rem;
  }

  .nav-tabs .nav-link {
    padding: 0.5rem 1rem;
  }

  header div div {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .nav-div {
    align-self: flex-end;
  }

  form {
    width: 60vw;
  }

  .highlight-section {
    flex-direction: column;
  }

  .set-div {
    text-align: center;
  }

}

@media (max-width: 1000px) and (max-height: 700px) {

h3 {
  margin-bottom: 0px;
}

  header {
    /* border: 1px dotted hotpink; */
    font-size: 0.8rem;
  }
  header.container {
    padding-top: 4px;
    align-items: flex-end;
  }

  h3 {
    font-size: 1rem;
  }
  .nav-tabs .nav-link {
    padding: 0.2rem 0.5rem;
  }

footer div div a {
  font-size: 1.3rem;

}

  .header-content {
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0px;
    /* border: 2px dotted blue; */
    align-items: flex-end;

  }

  form {
    width: 60vw;
  }

  .highlight-section {
    flex-direction: column;
  }

  .set-div {
    text-align: center;
  }
.profile-pic-div {
  align-items: flex-start!important;
}

}

@media (max-width: 480px) {

  header {
    font-size: .95rem;
  }

  footer {
    font-size: 1.3rem;
  }

  .nav-tabs .nav-link {
    padding: 0.3rem 0.5rem;
  }

  header div div {
    flex-direction: column;
    align-items: center !important;
  }

  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }

  .nav-div {
    align-self: center;
  }

  form {
    width: 80vw;
  }
}

@media (max-width: 425px) {
  .row {
    --bs-gutter-x: 0.5rem;
  }

  header {
    font-size: 1rem;
  }

  footer {
    font-size: 1.5rem;
  }

  .nav-tabs .nav-link {
    padding: 0.1rem 0.5rem;
  }
}


@media (max-width: 395px) {
  .row {
    --bs-gutter-x: 0.5rem;
  }

  footer {
    font-size: 1.3rem;
  }

  h3,
  h4 {
    font-size: 1.3rem;
  }

  header,
  p {
    font-size: .95rem;
  }

  .nav-tabs .nav-link {
    padding: 0.1rem 0.3rem;
  }
}

@media (max-width: 300px) {
  .row {
    --bs-gutter-x: 0.5rem;
  }

  h3,
  h4,
  footer {
    font-size: 1rem;
  }

  header,
  p {
    font-size: .55rem;
  }

  .nav-tabs .nav-link {
    padding: 0.1rem 0.2rem;
  }
}